<div class="side_bar_heading">
    <h3>Employee</h3>
    <span> Management</span>
</div>

<hr class="heading_line">

<div class="side_bar_list">
    <ul>
        <li>
            <div class="li_active"></div><a href="#"><span
                    class="material-symbols-rounded">home</span><span>Dashboard</span></a>
        </li>
        <li>
            <div class="li_active"></div><a href="#"><span
                    class="material-symbols-rounded">equalizer</span><span>Employees</span></a>
        </li>
        <li>
            <div class="li_active"></div><a href="#"><span
                    class="material-symbols-rounded">person</span><span>My Profile</span></a>
        </li>
        <li>
            <div class="li_active"></div><a href="/logout"><span
                    class="material-symbols-rounded">lock</span><span>Logout</span></a>
        </li>
    </ul>
</div>

<hr class="heading_line">

<div class="side_bar_footer">
    <span>Powered by</span>
    <img src="/img/logo.png" alt="">
</div>